################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoiseProcedures/bin/Debug/netstandard2.0
/NoiseProcedures/obj
/.vs/procedural-textures
/NoiseProcedures.Test/bin/Debug/netcoreapp2.0
/NoiseProcedures.Test/obj
